@helper GetTreeView(List<Docket.Models.Task> tasks, int parentId)
{ 
foreach (var task in tasks.Where(t => t.ParentTaskId.Equals(parentId)))
{
        <li>
            @{ var subTask = tasks.Where(t => t.ParentTaskId.Equals(task.Id)).Count();}
            @if (subTask > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }

            <span>
                @task.Name
            </span>
            @if (subTask > 0)
            {
                <ul>
                    @GetTreeView(tasks, task.Id)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
}
}
