@model Docket.Models.TaskList
@{
    ViewBag.Title = "Tasks";
}

<link href="~/Content/Custom/tasks.css" rel="stylesheet" />

<h2>@Model.Name</h2>

@Html.HiddenFor(m => m.Id, new { @id = "taskListId" })

<div>
    <div class="treeview">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody id="treeviewBody">
                @if (Model != null && Model.Tasks.Count > 0)
                {
                    {Html.RenderPartial("_TreeView", Model);}
                }
            </tbody>
        </table>
    </div>
</div>

<button class="btn-xs" onclick="location.href='@Url.Action("Index")'">Back</button>
<button id="btnAdd" class="btn-xs btn-primary">Add</button>
<button id="btnAddSub" class="btn-xs hidden">Add Sub</button>
<button id="btnCompleteTask" class="btn-xs hidden">Complete</button>
<button id="btnNotCompleteTask" class="btn-xs hidden">Not Complete</button>
<button id="btnDelete" class="btn-xs btn-danger hidden">Delete</button>

@section Scripts{
    @*TODO: Bundling*@
    <script src="~/Scripts/Custom/tasks.js"></script>
}
